.container {
  background: #232526;
  background: linear-gradient(to bottom, #163948, #232526);
  background: linear-gradient(to bottom, #163948, #232526);
  height: 100vh;
  overflow: hidden;
  padding: 2rem;
}

.inner_container {
  background: #fff;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  color: #163948;
  height: 100%;
  padding: 12px;
  text-align: center;
}

.label {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  text-align: left;
}

.input {
  background: #163947;
  border: none;
  border-radius: 10px;
  height: 32px;
  margin-top: 12px;
  padding: 4px 20px;
  width: 100%;
}

.button {
  background: transparent;
  border-radius: 5px;
  box-shadow:
    inset 2px 2px 2px 0 rgb(255 255 255 / 50%),
    7px 7px 20px 0 rgb(0 0 0 / 10%),
    4px 4px 5px 0 rgb(0 0 0 / 10%);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Lato, sans-serif;
  font-weight: 500;
  height: 40px;
  margin-top: 20px;
  outline: none;
  padding: 10px 25px;
  position: relative;
  transition: all 0.3s ease;
  width: 130px;
}

.submit {
  border: none;
  color: #000;
}

.submit::after {
  box-shadow:
    -7px -7px 20px 0 #fff9,
    -4px -4px 5px 0 #fff9,
    7px 7px 20px 0 #0002,
    4px 4px 5px 0 #0001;
  content: "";
  direction: rtl;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
  width: 0;
  z-index: -1;
}

.submit:hover {
  color: #000;
}

.submit:hover::after {
  left: auto;
  right: 0;
  width: 100%;
}

.submit:active {
  top: 2px;
}
