
.title {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    margin-top: 12px;
}

.bottle_container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.bottle_container img {
    width: 80px;
    transition: transform 2s ease-out;
}

.loader {
    width: 75px;
    height: 20px;
    --g1:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,#fff 0);
    --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
    background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
    background-position: left,center,right;
    background-repeat: no-repeat;
    animation: l8 1s infinite;
}

@keyframes l8 {
    0%   {background-size:20px 100%,20px 100%,20px 100%}
    20%  {background-size:20px 50% ,20px 100%,20px 100%}
    40%  {background-size:20px 50% ,20px 50% ,20px 100%}
    60%  {background-size:20px 100%,20px 50% ,20px 50% }
    80%  {background-size:20px 100%,20px 100%,20px 50% }
    100% {background-size:20px 100%,20px 100%,20px 100%}
}

.spin_result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}

.choose_button {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button {
    width: 130px;
    height: 40px;
    color: #333;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin-right: 20px;
}

.play {
    background: linear-gradient(0deg, rgb(195, 208, 213) 0%, rgb(137, 159, 180) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.play span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.play:before,
.play:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #fff;
    transition: all 0.3s ease;
}

.play:before {
    height: 0%;
    width: 2px;
}

.play:after {
    width: 0%;
    height: 2px;
}

.play:hover{
    background: transparent;
    box-shadow: none;
}

.play:hover:before {
    height: 100%;
}

.play:hover:after {
    width: 100%;
}

.play span:hover{
    color: #fff;
}

.play span:before,
.play span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #fff;
    transition: all 0.3s ease;
}

.play span:before {
    width: 2px;
    height: 0%;
}

.play span:after {
    width: 0%;
    height: 2px;
}

.play span:hover:before {
    height: 100%;
}

.play span:hover:after {
    width: 100%;
}
  