.main_container {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  color: #163948;
  height: 100%;
  padding: 12px;
}

.title {
  display: flex;
  font-size: 28px;
  font-weight: 600;
  justify-content: center;
  margin-top: 12px;
}

.players_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px;
}

.player_name {
  background: #4791b1;
  border: 1px solid #163948;
  border-radius: 10px;
  color: #fff;
  padding: 8px;
}

.button_container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  width: 100%;
}

.button {
  background: transparent;
  border-radius: 5px;
  box-shadow:
    inset 2px 2px 2px 0 rgb(255 255 255 / 50%),
    7px 7px 20px 0 rgb(0 0 0 / 10%),
    4px 4px 5px 0 rgb(0 0 0 / 10%);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 40px;
  outline: none;
  padding: 10px 25px;
  position: relative;
  transition: all 0.3s ease;
  width: 130px;
}

.play {
  border: none;
  bottom: 20px;
  box-shadow: none;
  height: 40px;
  line-height: 42px;
  perspective: 230px;
  position: relative;
  right: 20px;
  width: 130px;
}

.play span {
  background: #163948;
  background: linear-gradient(0deg, rgb(34 68 81) 0%, rgb(54 100 146) 100%);
  border-radius: 5px;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  box-sizing: border-box;
  display: block;
  height: 40px;
  margin: 0;
  position: absolute;
  text-align: center;
  transition: all 0.3s;
  width: 130px;
}

.play span:nth-child(1) {
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  transform: rotateX(90deg);
  transform-origin: 50% 50% -20px;
}

.play span:nth-child(2) {
  transform: rotateX(0deg);
  transform-origin: 50% 50% -20px;
}

.play:hover span:nth-child(1) {
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  transform: rotateX(0deg);
}

.play:hover span:nth-child(2) {
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  color: transparent;
  transform: rotateX(-90deg);
}

.loader {
  background:
    var(--c) center/100% 10px,
    var(--c) center/10px 100%;
  height: 40px;
  margin: 100px auto;
  position: relative;
  width: 40px;

  --c: no-repeat linear-gradient(#1a3e4b 0 0);
}

.loader::before {
  animation: l16 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
  background:
    var(--c) 0 0,
    var(--c) 100% 0,
    var(--c) 0 100%,
    var(--c) 100% 100%;
  background-size: 15.5px 15.5px;
  content: "";
  inset: 0;
  position: absolute;
}

@keyframes l16 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }

  66% {
    inset: -10px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}
